# deps
node_modules/
.pnpm-store/

# next
.next/
out/
next-env.d.ts

# build
dist/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# os
.DS_Store
Thumbs.db

# ide
.vscode/
.idea/

# test
coverage/

# drizzle
drizzle/meta/_journal.json.bak
.design-ref/

.vercel
.env*
